<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Social Network{% endblock %}</title>
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('hello_world') }}">Home</a> |
        <a href="{{ url_for('signup') }}">Sign Up</a> |
        <a href="{{ url_for('create_business') }}">Create Business</a> |
        <a href="{{ url_for('view_marketing_forum') }}">Marketing Forum</a> |
        <a href="{{ url_for('view_sales_list') }}">Sales Transactions</a> |
        <a href="{{ url_for('view_banks_list') }}">Banks Directory</a> |
        <a href="{{ url_for('view_fintech_tools_list') }}">Fintech Tools</a> |
        <a href="{{ url_for('view_jobs_list') }}">Jobs</a> |
        <a href="{{ url_for('view_news_list') }}">News</a> |
        <a href="{{ url_for('global_chat_page') }}">Chat</a> |
        <a href="{{ url_for('view_esports_schedule') }}">Esports Schedule</a> |
        <a href="{{ url_for('view_suppliers_list') }}">Dropshipping Suppliers</a> |
        <a href="{{ url_for('view_guides_list') }}">Dropshipping Guides</a> |
        <a href="{{ url_for('view_product_blogs_list') }}">Product Blog</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register("/sw.js") // Direct path to root sw.js
                    .then((registration) => {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    })
                    .catch((error) => {
                        console.log('ServiceWorker registration failed: ', error);
                    });
            });
        }
    </script>
</body>
</html>
