<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Social Network{% endblock %}</title>
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('hello_world') }}">Home</a> |
        <a href="{{ url_for('signup') }}">Sign Up</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
